
 <div class="reportSection tableContainer">
    <h4>Benthic Habitats <a href="#" data-toggle-node="58079dd5a1ec36f5595fb2b0" data-visible="false">show layer</a></h4>
      <p>
        The below table describes the overlap of your plan with the benthic habitats of Montserrat, which you can view by checking the 'show layer' box at right. The MNI 2016 benthic habitat map was digitized by hand using a combination of in situ observations on scuba/free dive at survey sites (n = approx. 600) and drop camera deployments (n = 343) as part of the Waitt Institute Scientific Assessment. Preliminary context for mapping was gleaned from benthic maps depicted in Wild et. al 2007 and IRF 1993. These maps provided valuable insight into dominant benthic features and the interpretation of site observations. 
      </p>
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:225px;">Habitat</th>
            <th>Area (sq. km.)</th>
            <th>Area (% of Total)</th>
          </tr>
        </thead>
        <tbody>
          {{#habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{AREA_SQKM}}</td>
            <td>{{PERC}}</td>
          </tr>
          {{/habitats}}
        </tbody>
      </table>
 </div>
