

{{#hasConservationZone}}

 <div class="reportSection tableContainer">
    <h4>Benthic Habitats <a href="#" data-toggle-node="58079dd5a1ec36f5595fb2b0" data-visible="false">show layer</a></h4>
      <p>
        The following table describes the overlap of your plan with the benthic habitats of Montserrat, which you can view by checking the 'show layer' box at right. The MNI 2016 benthic habitat map was digitized by hand using a combination of in situ observations on scuba/free dive at survey sites (n = approx. 600) and drop camera deployments (n = 343) as part of the Waitt Institute Scientific Assessment. Preliminary context for mapping was gleaned from benthic maps depicted in Wild et. al 2007 and IRF 1993. These maps provided valuable insight into dominant benthic features and the interpretation of site observations. 
      </p>
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:40px;">Meets 30% Goal?<sup>*</sup></th>
            <th style="width:225px;">Habitat</th>
            <th>Area (sq. km.)</th>
            <th>Area (% of Total)</th>

          </tr>
        </thead>
        <tbody>
          {{#habitats}}
          <tr>
            <td>
              {{#MEETS_GOAL}}
                <div class="small-green-check"></div>
              {{/MEETS_GOAL}}
              {{^MEETS_GOAL}}
                {{#NO_GOAL}}
                  <div class="no-goal"></div>
                {{/NO_GOAL}}
                {{^NO_GOAL}}
                  <div class="small-red-x"></div>
                {{/NO_GOAL}}
              {{/MEETS_GOAL}}
            </td>
            <td>{{HAB_TYPE}}</td>
            <td>{{AREA_SQKM}}</td>
            <td>{{PERC}}</td>
          </tr>
          {{/habitats}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" style="padding-left:10px;text-align:left;">
              <sup>*</sup>Indicates whether the selected Marine Reserves zones have reached th conservation goal of preserving 30% of each habitat. A green check indicates that the goal is met, red x means that the goal is not met, and a gray dash indicates that there is no goal for that habitat.
            </td>
          </tr>
        </tfoot>
      </table>
 </div>
 <div class="reportSection tableContainer">
    <h4>Presence of IUCN Listed Coral Species <a href="#" data-toggle-node="58e671fc4af25d590ba4ccef" data-visible="false">show layer</a></h4>
      <p>
        Three IUCN listed corals have been observed within Montserrat waters. The following graphics show the number of the known observations that are found within the selected {{#isCollection}}collection of zones{{/isCollection}}{{^isCollection}}zone{{/isCollection}}.
      </p>
      {{#hasD3}}
      <div>
          <div class="viz" id="orb_a">
            <div><i>Orbicella annularis </i></div>
          </div>
          <div class="viz" id="orb_f">
            <div><i>Orbicella faveolata</i></div>
          </div>
          <div class="viz" id="acro">
            <div><i>Acropora palmata</i></div>
          </div>
        </div>
      {{/hasD3}}
      {{^hasD3}}
        <table data-paging="10">
          <thead>
            <tr>
              <th style="width:40px;">Name<sup>*</sup></th>
              <th style="width:225px;">Count</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {{#coral_count}}
            <tr>
              <td>{{NAME}}</td>
              <td>{{COUNT}}</td>
              <td>{{TOT}}</td>
            </tr>
            {{/coral_count}}
          </tbody>
        </table>
      {{/hasD3}}
 </div>

 <div class="reportSection">
    <h4>Nursery Areas</h4>
    <p>
      These charts show the minimum, mean and maximum abundance measurements of nursery areas that were taken within your {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}}, in relation to the distribution of abundance within Montserrat waters.
    <p>
    {{#d3IsPresent}}
      <div class="in-report-header">Nursery Areas</div>
      <div id="sandg_viz" class="sandg_viz"></div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;"></th>
            <th>Mean</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
        </thead>
        <tbody>
          {{#sandg}}
            <tr>
              <td>Nursery Areas</td>
              <td>{{sandg.SCORE}}</td>
              <td>{{sandg.MIN}}</td>
              <td>{{sandg.MAX}}</td>
            </tr>
          {{/sandg}}
        </tbody>
      </table>
    {{/d3IsPresent}}
 </div>



 <div class="reportSection">
    <h4>Fish Biomass</h4>
    <p>
      These charts show the minimum, mean and maximum fish biomass value taken within your sketched zone, in relation to the distribution of biomass measured around the island. Biomass was calculated for Herbivores and All Species at regular points along Montserrat's coast.
    <p>
    {{#d3IsPresent}}
      <div class="in-report-header">Herbivore Biomass</div>
      <div id="herb_viz" class="herb_viz"></div>
      <div class="in-report-header">All Species Biomass</div>
      <div id="total_viz" class="total_viz"></div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;"></th>
            <th>Mean</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
        </thead>
        <tbody>
          {{#herb}}
            <tr>
              <td>Herbivores</td>
              <td>{{herb.SCORE}}</td>
              <td>{{herb.MIN}}</td>
              <td>{{herb.MAX}}</td>
            </tr>
          {{/herb}}
          {{#total}}
            <tr>
              <td>Totals</td>
              <td>{{total.SCORE}}</td>
              <td>{{total.MIN}}</td>
              <td>{{total.MAX}}</td>
            </tr>
          {{/total}}
        </tbody>
      </table>
    {{/d3IsPresent}}
 </div>

 <div class="reportSection">
    <h4>Fish Abundance</h4>
    <p>
      These charts show the minimum, mean and maximum fish abundance value taken within your sketched zone.
    <p>
    {{#d3IsPresent}}
      <div id="fish_viz" class="fish_viz"></div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;"></th>
            <th>Mean</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
        </thead>
        <tbody>
          {{#fish}}
            <tr>
              <td>Herbivores</td>
              <td>{{fish.SCORE}}</td>
              <td>{{fish.MIN}}</td>
              <td>{{fish.MAX}}</td>
            </tr>
          {{/fish}}

        </tbody>
      </table>
    {{/d3IsPresent}}
  </div>
{{/hasConservationZone}}
{{^hasConservationZone}}
 <div class="reportSection">
    <h4>No Marine Reserves </h4>
      <p style="font-size:1.2em">
        <em>The environment tab reports are only applicable to <b>Marine Reserves</b> zone types.</em>
        {{#isCollection}} This collection does not include any of these zones.{{/isCollection}}
      </p>
{{/hasConservationZone}}