
<div class="reportSection">
  <h4>Size</h4>
  <p>
    The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{size.SIZE_SQKM}} sq. km</strong>, which represents 
    <strong>{{size.PERC}}%</strong> of Montserrat's waters within 3 nautical miles of the coastline.
  </p>
</div>
<div class="reportSection">
  <h4>Distance from Port Little Bay</h4>
  <p>
    The farthest point in the {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{minDistKM}} km</strong> (over water) from the Port Little Bay.
  </p>
</div>
<div class="reportSection">
  <h4>Fishing Value<a href="#" data-toggle-node="57e2c33beb275bba1ec6fd46" data-visible="false">show heatmap layer</a></h4>
  <p>
    The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_fishing_value}}%</strong> of the total fishing value within Montserrat's waters, based on the user reported value of fishing grounds.
  </p>
</div>

<div class="reportSection">
  <h4>Dive Value<a href="#" data-toggle-node="57e2c302eb275bba1ec6fd3d" data-visible="false">show heatmap layer</a></h4>
  <p>
    The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_dive_value}}%</strong> of the total dive value within Montserrat's waters, based on the user reported value of dive sites.
  </p>
</div>
<div class="reportSection">
<h4>Fish Pots <a href="#" data-toggle-node="58ed7cb54af25d590ba4fc3c" data-visible="false">show layer</a></h4>
  {{#hasD3}}
    <div>
      <div class="viz" id="fish_pots">
        <div><i>Fish Pots</i></div>
      </div>
    </div>
  {{/hasD3}}
  {{^hasD3}}
    <table data-paging="10">
      <thead>
        <tr>
          <th style="width:225px;">Count</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{fishpot_count}}</td>
          <td>{{fishpot_total}}</td>
        </tr>
      </tbody>
    </table>
  {{/hasD3}}
</div>

{{^isCollection}}
  {{#isConservationZone}}
    <div class="reportSection">
      <h4>Minimum Size Goal</h4>
      <div style="padding-left:10px">
        {{#meetsMinWidthGoal}}
          <div class="big-green-check"></div>
        {{/meetsMinWidthGoal}}
        {{^meetsMinWidthGoal}}
          <div class="big-red-x"></div>
        {{/meetsMinWidthGoal}}
        <div style="display:inline;padding-left:5px;font-size:1.1em">
          This zone <b>{{#meetsMinWidthGoal}} meets{{/meetsMinWidthGoal}}{{^meetsMinWidthGoal}}does not meet{{/meetsMinWidthGoal}}</b> the conservation goal of having a minimum width of <b>at least 1km</b>.
        </div>
      </div>
   </div>
{{/isConservationZone}}
{{/isCollection}}
{{#isCollection}}
  <div class="reportSection tableContainer">
      <h4>Minimum Size Goal</h4>
      <p>
        Marine Reserve Zones should have a minimum width of at least 1 kilometer to meet conservation goals.
      </p>
      <table>
        <thead>
          <tr>
            <td style="width:60px;text-align:center;">Meets 1km Goal?</td>
            <td>Zone Name</td>
          </tr>
        </thead>
        <tbody>
          {{#min_dim}}
            <tr>
              <td>
                {{#MEETS_THRESH}}
                  <div class="small-green-check"></div>
                {{/MEETS_THRESH}}
                {{^MEETS_THRESH}} 
                  <div class="small-red-x"></div>
                {{/MEETS_THRESH}}
              </td>
              <td style="text-align:left;">{{NAME}}</td>
            </tr>
          {{/min_dim}}
      </table>
   </div>
  <div class="reportSection tableContainer">
      <h4>Connectivity</h4>
      <table>
        <thead>
          <tr>
            <td>Zone Name</td>
            <td>Distance to Nearest Zone (km)</td>
            <td>Nearest Zone Name</td>
          </tr>
        </thead>
        <tbody>
          {{#connectivity}}
            <tr>
              <td>{{NAME}}</td>
              <td>{{DIST_KM}}</td>
              <td>{{NEAR_NAME}}</td>
            </tr>
          {{/connectivity}}
      </table>
      <p>
        <em>Note:</em> The connectivity analytic has been developed for demonstration purposes, and does not account for the least cost path around land.
      </p>
   </div>
 {{/isCollection}}




