
<div class="reportSection">
  <h4>Size</h4>
  <p>
    The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{size.SIZE_SQKM}} sq. km</strong>
    
  </p>
</div>

<div class="reportSection">
  <h4>Fishing Value<a href="#" data-toggle-node="57e2c33beb275bba1ec6fd44" data-visible="false">show heatmap layer</a></h4>
  <p>
    The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_fishing_value}}%</strong> of the total fishing value within Curacao's waters, based on the user reported value of fishing grounds.
  </p>
</div>

<div class="reportSection">
  <h4>Dive Value<a href="#" data-toggle-node="57e2c302eb275bba1ec6fd3b" data-visible="false">show heatmap layer</a></h4>
  <p>
    The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_dive_value}}%</strong> of the total dive value within Curacao's waters, based on the user reported value of dive sites.
  </p>
</div>

{{#isCollection}}
  <div class="reportSection tableContainer">
      <h4>Connectivity</h4>
      <table>
        <thead>
          <tr>
            <td>Zone Name</td>
            <td>Distance to Nearest Zone (km)</td>
            <td>Nearest Zone Name</td>
          </tr>
        </thead>
        <tbody>
          {{#connectivity}}
            <tr>
              <td>{{NAME}}</td>
              <td>{{DIST_KM}}</td>
              <td>{{NEAR_NAME}}</td>
            </tr>
          {{/connectivity}}
      </table>
      <p>
        <em>Note:</em> The connectivity analytic has been developed for demonstration purposes, and does not account for the least cost path around land.
      </p>
   </div>
 {{/isCollection}}




