
<div class="reportSection">
  <h4>Tradeoffs</h4>
  	<div style="margin-left:40px;">
	  	<span>Select a Set of Tradeoff Scores to View:</span></br>
		<select class="chosen">
			<option class="default-chosen-selection" label="Fishing and Diving">Fishing and Diving</option>

		</select>
	</div>
  	<div id="pvt_container" class="pvt_container"><div  id="fishing-v-diving" class="fishing-v-diving"></div></div>

</div>