
<div class="reportSection">
  <h4>Tradeoffs</h4>
  	{{#isCollection}}
  	<p style="margin-left:18px;">
  		<em>Tradeoff analysis is currently in development, and should be used for demonstration purposes only. These analytics will allow users to plot multiple plan options against each other in terms of their impact on fishing, dive and conservation value for Montserrat.</em>
  	</p>
  	<div style="margin-left:18px;margin-bottom:15px">
	  	<span>Select a Set of Tradeoff Scores to View:</span></br>
		<select class="chosen">
      {{#tradeoffs}}
        <option class="{{. == "Fishing and Diving" ? 'default-chosen-selection' : ''}}"  value="{{.}}">{{.}}</option>
      {{/tradeoffs}}
		</select>
	</div>
  	<div id="fvd_container" class="fvd_container"><div  id="fishing-v-diving" class="fishing-v-diving"></div></div>
    <div id="fvc_container" class="fvc_container"><div  id="fishing-v-conservation" class="fishing-v-conservation"></div></div>
    <div id="dvc_container" class="dvc_container"><div  id="diving-v-conservation" class="diving-v-conservation"></div></div>
  	{{/isCollection}}
  	{{^isCollection}}
  	  	<p>
  			<i>No tradeoff analysis available for individual zones.</i>
  		</p>
  	{{/isCollection}}
</div>